@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00529b;
  --color-secondary: #facc15;
  --color-gray: #736d75;
  --color-gray2: #5e5e5e;
  --color-gray3: #f4f4f4;
  --color-dark: #1e1e1e;
  --color-dark2: #252525;
  --shadow-card:
    0px 3.6px 5.99px 0px rgba(177, 177, 177, 0.08),
    0px 0.6px 1.8px 0px rgba(0, 0, 0, 0.05);
}

@utility container {
  width: 100%;
  max-width: 80rem; /* 1280px */
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1.5rem;
  }

  @variant lg {
    padding-inline: 2rem;
  }
}
